{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-title text-center">projects</div>
    <div class="page-description text-center">a few ongoing side projects</div>
    <div class="row column small-11 medium-8 large-6 small-up-1 grid-list">
        {% for project in projects %}
            <div class="column project-panel">
                <div class="inner-panel">
                    <div class="project-info text-center">
                        <div class="project-title">{{ project.title }}</div>
                        <div class="project-links">
                            {% if project.demo %}
                                <a class="tiny hollow button" target="_blank" href="{{ project.demo }}">Demo</a>
                            {% endif %}

                            <a class="tiny hollow button" target="_blank" href="{{ project.github }}">GitHub</a>
                        </div>
                        <div class="project-description">{{ project.description }}</div>
                        <div class="project-tags">
                            {% for tag in project.tags %}
                                <span class="label tag">{{ tag }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <img class="thumbnail" src="{{ project.thumbnail }}">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
