{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/node_modules/owlcarousel/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/node_modules/owlcarousel/owl-carousel/owl.theme.css') }}">
{% endblock %}

{% block body %}
    <div id="photography-carousel" class="owl-carousel">
        <div class="carousel-item">
            <img src="{{ asset('assets/img/photography/Mossy_Bridge_hi_res.jpg') }}">
        </div>
        <div class="carousel-item">
            <img src="{{ asset('assets/img/photography/Costa_Rica_Sunset_Boats.jpg') }}">
        </div>
        <div class="carousel-item">
            <img src="{{ asset('assets/img/photography/arch_root.jpg') }}">
        </div>
        <div class="carousel-item">
            <img src="{{ asset('assets/img/photography/skiing_breckenridge_from_lift.jpg') }}">
        </div>
        <div class="carousel-item">
            <img src="{{ asset('assets/img/photography/skiing_breckenridge_viewing_peak_6_bowl.jpg') }}">
        </div>
    </div>
{% endblock %}
